        /*GLOBAL STYLES*/
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: "Poppins", sans-serif;
        }
        
        html {
            font-size: 62.5%;
        }
        
        h1 {
            font-size: 2.6rem;
        }
        
        li,
        button,
        label,
        input,
        p {
            font-size: 2rem;
        }
        
        h2 {
            font-size: 4.8rem;
        }
        
        h3 {
            font-weight: normal;
            font-size: 3rem;
        }
        
        h4,
        h5 {
            font-size: 2.8 rem;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        
        button {
            padding: 2rem 6rem;
            background: #131c27;
            border: none;
            color: white;
            font-size: 1.8rem;
            transition: background .3s ease-in-out;
            cursor: pointer;
        }
        
        button:hover {
            background: #233347;
            ;
        }
        /* Nav section with Hero */
        
        .main-head {
            background-color: #131c27;
            color: white;
            position: sticky;
            top: 0;
            z-index: 3;
        }
        
        nav {
            min-height: 10vh;
            display: flex;
            width: 90%;
            margin: auto;
            padding: 2rem;
            align-items: center;
            flex-wrap: wrap;
        }
        
        nav ul {
            display: flex;
            flex: 1 1 60rem;
            list-style: none;
            justify-content: space-around;
            align-items: center;
        }
        
        #logo {
            flex: 2 1 40rem;
            font-weight: normal;
            font-family: cursive;
        }
        
        .hero {
            min-height: 90vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/img/landing-page.jpg");
        }
        
        .hero h3 {
            padding: 3rem;
        }
        /* LOCATIONS SECTION */
        
        #locations {
            overflow: hidden;
            position: relative;
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/img/new-york-page.png");
        }
        
        .locations-head {
            width: 90%;
            margin: auto;
        }
        
        .locations-head h2 {
            padding: 1rem 0rem;
            text-decoration: underline;
            text-decoration-thickness: 0.5rem;
        }
        
        .locations-head h3 {
            padding: 4rem 0rem;
        }
        
        .cloud {
            position: absolute;
            top: 0%;
            right: 0%;
            pointer-events: none;
        }
        
        .moving-cloud-1 {
            animation: cloudAnimation 3s infinite alternate ease-in-out;
        }
        
        .moving-cloud-2 {
            animation: cloudAnimation 3.3s infinite alternate ease-in-out;
            top: 20%;
            opacity: 0.5;
            z-index: -1;
            margin-top: -50px;
        }
        
        @keyframes cloudAnimation {
            from {
                transform: translate(10%, -10%);
            }
            to {
                transform: translate(0%, 0%);
            }
        }
        
        .benefits-header {
            background: #343c44;
            padding: 3rem;
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }
        
        .benefits-headerh3 {
            padding: 1rem;
        }
        
        .cards {
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            min-height: 70vh;
            flex-wrap: wrap;
        }
        
        .card-icon {
            background: #131c27;
        }
        
        .card {
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
            margin: 2rem 5rem;
            flex: 1 1 25rem;
            text-align: center;
            min-height: 40vh;
            background: white;
        }
        
        .cards img {
            max-width: 15%;
            margin: 2rem;
        }
        
        .card h4,
        p {
            padding: 1rem;
        }
        
        #contact {
            min-height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/img/contact-mountain.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .form-wrapper {
            background: linear-gradient(rgba(19, 28, 39, 0.8), transparent);
            width: 60%;
            color: white;
            border-radius: 20px;
        }
        
        .form-head {
            text-align: center;
            padding: 4rem;
        }
        
        .name-form,
        .email-form {
            padding: 1rem;
            text-align: center;
        }
        
        .form-wrapper label {
            padding: 0 3rem;
        }
        
        .form-wrapper button {
            width: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        
        footer {
            color: white;
            background: rgba(19, 28, 39, 1);
        }
        
        .footer-wrapper {
            display: flex;
            padding: 2rem;
            align-items: center;
            min-height: 10vh;
            width: 90%;
            margin: auto;
            flex-wrap: wrap;
        }
        
        footer ul {
            display: flex;
            list-style: none;
            flex: 1 1 40rem;
            justify-content: space-between;
            align-items: center;
        }
        
        footer h5 {
            flex: 1 1 40rem;
            font-size: 15px;
        }
        
        @media screen and (max-width:932px) {
            html {
                font-size: 45%;
            }
            nav {
                text-align: center;
            }
            #logo {
                padding: 2rem;
            }
            .moving-cloud-1 {
                z-index: -1;
                height: 40rem;
            }
            .moving-cloud-2 {
                height: 30rem;
                z-index: -2;
            }
            footer {
                text-align: center;
            }
            footer h5 {
                padding-bottom: 2rem;
            }
        }